.banner {
  padding-top: 30px;
  display: flex;
  width: 90%;
  margin: auto;
  gap: 20px;
  height: auto;
}

.left {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  justify-content: space-between;
}
.left-body {
  padding-top: 20px;
}
.left-body-text {
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.left-body-text .desktop-text {
  font-size: 50px;
}
.left-body-text .mobile-text {
  display: none;
}
.left-body-bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.left-body-bottom-image {
  width: 450px;
  height: 250px;
  position: relative;
}
.left-body-bottom-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.left-body-bottom-image .bottom-text {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.left-body-bottom-image .bottom-text h5,
.left-body-bottom-image .bottom-text p {
  color: white;
}

.navbar {
  width: 100% !important;
  background-color: rgb(181, 240, 181);
  border-radius: 20px;
}

nav {
  background-color: rgb(181, 240, 181);
  border-radius: 20px;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between !important;
}
.right {
  width: 400px;
}
.right .carousel {
  height: 100% !important;
}
.right .carousel-inner {
  height: 100% !important;
}
.right .carousel-item {
  height: 100% !important;
}
.right .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 100% !important;
}

.products {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.products-buttons {
  display: flex;
  flex-direction: row;
}
.products-buttons button {
  border: 0;
  background: #f5f5f5;
  padding: 3px 15px;
  border-radius: 30px;
}
.products-buttons .search-icon button {
  border-right: 1px solid grey;
  border: 0;
  background: #f5f5f5;
  padding: 3px 15px !important;
  border-radius: 30px;
}
.products-buttons .tab-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products-items {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.products-logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products-logos .logo {
  width: 70px;
  height: 70px;
}
.products-logos .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.item {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.item-image {
  height: 300px;
  background-color: rgb(243, 255, 243);
  border-radius: 10px;
  position: relative;
}
.item-image img {
  width: 90%;
  margin: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.item-tag {
  position: absolute;
  width: 270px;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.item-tag .tag {
  background-color: rgb(181, 240, 181);
  padding: 5px 10px;
  border-radius: 30px;
}
.item-body {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.item-body-about {
  width: 60%;
}
.item-body-price {
  width: 40%;
}

.collections {
  padding-top: 50px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collections-header h3 {
  font-size: 40px;
}
.collections-body {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.collection {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
  border-radius: 20px;
}
.collection-image {
  height: 100%;
  position: relative;
  border-radius: 20px;
}
.collection-image img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.collection h2 {
  border-radius: 20px;
  height: 300px;
  width: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.styles {
  padding-top: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.styles-button {
  display: flex;
  width: 100%;
  padding-top: 20px;
}
.styles-button button {
  width: 100%;
  padding: 20px 10px;
  justify-content: center;
  border: 0;
  border-radius: 20px;
  background-color: rgb(181, 240, 181);
  color: black;
  font-size: 50px;
}

.style {
  display: flex;
  gap: 30px;
}
.style .text {
  position: absolute;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
.style .text p {
  font-size: 50px;
  width: 30%;
  line-height: 2.5rem;
  color: grey;
}
.style-left {
  display: flex;
  height: 700px;
  width: 50%;
  border-radius: 20px;
  background-color: #f5f5f5;
  position: relative;
  justify-content: center;
  align-items: center;
}
.style-left img {
  display: block;
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin: auto !important;
}
.style-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 700px;
  width: 50%;
  align-items: center;
}
.style-right-top, .style-right-bottom {
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: relative;
  justify-content: center;
}
.style-right-top img, .style-right-bottom img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .left {
    width: 100%;
    height: auto;
  }
  .left-body {
    padding-top: 20px;
  }
  .left-body-text {
    padding: 10px;
    border-radius: 20px;
    background-color: #f5f5f5;
  }
  .left-body-text .mobile-text {
    font-size: 50px;
  }
  .left-body-text .desktop-text {
    display: none;
  }
  .left-body-bottom {
    flex-direction: column;
  }
  .left-body-bottom-image {
    width: 300px;
  }
  .right, .products, .item, .collections, .collection, .styles, .style {
    display: none !important;
  }
}/*# sourceMappingURL=Style.css.map */